@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-primary {
    background-color: #5daabc;
  }

  .bg-primary-dark {
    background-color: #4696a8;
  }

  .bg-primary-light {
    background-color: #6bb4c4;
  }

  .bg-custom-green {
    background-color: #7faf35;
  }

  .bg-custom-green-dark {
    background-color: #598810;
  }
}
